---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubectl-top-exporter
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubectl-top-exporter
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get","list"]
- apiGroups: [metrics.k8s.io"]
  resources: ["pods","nodes"]
  verbs: ["get","list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubectl-top-exporter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubectl-top-exporter
subjects:
- kind: ServiceAccount
  name: kubectl-top-exporter
  namespace: kube-system
