apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: "true"
  name: kubectl-top-exporter
  namespace: kube-system
spec:
  type: ClusterIP
  selector:
    app: kubectl-top-exporter
  ports:
  - port: 9977
    targetPort: 9977
